<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Simple Servlet Application</display-name>
  <servlet>
    <servlet-name>ServletEditImage</servlet-name>
    <servlet-class>com.book.app.servlet.ServletEditImage</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEditImage</servlet-name>
    <url-pattern>/servlet/image</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletServerImages</servlet-name>
    <servlet-class>com.book.app.servlet.ServletServerImages</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletServerImages</servlet-name>
    <url-pattern>/servlet/image/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletSignIn</servlet-name>
    <servlet-class>com.book.app.servlet.ServletSignIn</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSignIn</servlet-name>
    <url-pattern>/servlet/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletSignUp</servlet-name>
    <servlet-class>com.book.app.servlet.ServletSignUp</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSignUp</servlet-name>
    <url-pattern>/servlet/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletHome</servlet-name>
    <servlet-class>com.book.app.servlet.ServletHome</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletHome</servlet-name>
    <url-pattern>/servlet/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletLogout</servlet-name>
    <servlet-class>com.book.app.servlet.ServletLogout</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogout</servlet-name>
    <url-pattern>/servlet/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletUpSetCollection</servlet-name>
    <servlet-class>com.book.app.servlet.ServletUpSetCollection</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUpSetCollection</servlet-name>
    <url-pattern>/servlet/addcollection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletRemoveCollection</servlet-name>
    <servlet-class>com.book.app.servlet.ServletRemoveCollection</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRemoveCollection</servlet-name>
    <url-pattern>/servlet/removecollection</url-pattern>
  </servlet-mapping>
</web-app>